<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p [%t] %m%ex - (%F:%L)%n" />
		</Console>
		<RollingFile name="rolling" filename="/var/log/triton/triton-server.log"
					 filePattern="/var/log/triton/triton-server.%d{yyyy-MM-dd}.log.gz">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p [%t] %m%ex - (%F:%L)%n" />
			<TimeBasedTriggeringPolicy />
		</RollingFile>
	</appenders>
	<loggers>
		<root level="info">
			<appender-ref ref="console" />
		</root>
		<!-- 3rd party levels -->
		<logger name="net.rubyeye.xmemcached" level="warn" />
		<logger name="com.google.code.yanf4j" level="warn" />
		<logger name="com.netflix.astyanax" level="warn" />
	</loggers>
</configuration>