<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p [%t] %m%ex - (%F:%L)%n" />
		</Console>
	</appenders>
	<loggers>
		<root level="debug">
			<appender-ref ref="console" />
		</root>
		<!-- 3rd party levels -->
		<logger name="net.rubyeye.xmemcached" level="warn" />
		<logger name="com.google.code.yanf4j" level="warn" />
		<logger name="com.netflix.astyanax" level="warn" />
	</loggers>
</configuration>