<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p [%t] %m%ex - (%F:%L)%n" />
		</Console>
	</appenders>
	<loggers>
		<root level="debug">
			<appender-ref ref="console" />
		</root>
	</loggers>
</configuration>